*{
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}
.form-pago{
    width: 500px;
    background: #24303c;
    margin: 30%;
    margin-top: 5px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
}

.form-pago h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.control{
    width: 100%;
    background: #24303c;
    padding: 8px;
    border-radius: 1111px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}
.form-pago .botons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.n-t{
    width: 40%;
    background: #24303c;
    padding: 8px;
    border-radius: 1111px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}
/* Imagennes */
.png{
    text-align: center;
    width: 40%;
}
.div-png{
    text-align: center;
}
.control, .n-t{
    color: aliceblue;
}
.n-t{
    color: #fff;
}
